<!-- <div class="column is-one-fifth-desktop is-one-fifth-tablet is-one-fifth-fullhd"> -->
<div class="card-content">
    <h6 class="title   is-uppercase ">
        {{site.title}}
    </h6>
    <figure class="image">
        <img class="is-rounded" src="{{site.author-image}}" alt="{{site.author-name}}">
    </figure>
    <button class="button">Resume</button>
    <table style="width:100%">
        <tr>
            <td><i class="fa fa-map-marker" style="font-size:20px;color:#b6eada"></i></td>
            <td>
                <p style="color:white">Amherst, MA</p>
            </td>
        </tr>
        <tr>
            <td><i class="fa fa-github" style="font-size:20px;color:#b6eada"></i></td>
            <td>
                <p style="color:white">maneesha-reddy</p>
            </td>
        </tr>
        <tr>
            <td><i class="fa fa-linkedin" style="font-size:20px;color:#b6eada"></i></td>
            <td>
                <p style="color:white">maneesha-maddula</p>
            </td>
        </tr>
    </table>
    <p></p>
</div>

<!-- </div> -->