<div class="card-content">
    <h6 class="title  is-uppercase  ">
        Education
    </h6>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <ul class="timeline">
                    <li>
                        <p class="float-right">Feb 2023 - Dec 2024</p>
                        <p>Unversity of Massachusetts, Amherst</b></p>

                        <p><b>Master of Science, Computer Science</b></p>

                    </li>
                    <li>
                        <p class="float-right">Aug 2017 - May 2021 </p>

                        <p><b>Bachelor of Technology, Computer Science</b></p>
                        <p>IIIT, Chennai</p>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>