<div class="card-content">
    <h6 class="title    is-uppercase  ">
        Experience
    </h6>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <ul class="timeline">
                    <li>
                        <p class="float-right">Feb 2024 - Present</p>
                        <p><b>Graduate Student Researcher</b></p>
                        <p>Lexalytics Inc</p>
                    </li>
                    <li>
                        <p class="float-right">August 2021 - Dec 2022</p>
                        <p><b>Software Engineer</b></p>
                        <p>Lowe's</p>
                    </li>
                    <li>
                        <p class="float-right">Dec 2020 - Jun 2021</p>
                        <p><b>Machine Learning Intern</b></p>
                        <p>Quantrium Technologies</p>
                    </li>

                    <li>
                        <p class="float-right">Aug 2020 - Dec 2020</p>
                        <p><b>Software Engineering Intern</b></p>
                        <p>QuantQAlgo</p>
                    </li>
                    <li>
                        <p class="float-right">May 2020 - Sep 2020</p>
                        <p><b>Machine Learning Intern</b></p>
                        <p>Ciphense</p>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>