<div class="card-content">
    <h6 class="title    is-uppercase  ">
        Experience
    </h6>
    <div class="container mt-5 mb-5">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <ul class="timeline">
                    <li>
                        <p class="float-right">June 2024 - August 2024</p>
                        <div class="tooltip">
                            <span class="tooltiptext">Developed a React-Redux feature for an
                                internal website, enabling WSDL file upload, visualization, editing, and
                                backend updates. Replaced a $50k/year third-party application, driving significant
                                cost savings.</span>
                            <p><b>Full Stack Developer Intern</b></p>
                        </div>
                        <p>Global Payments</p>

                    </li>
                    <li>
                        <p class="float-right">Februray 2024 - May 2024</p>
                        <div class="tooltip">
                            <span class="tooltiptext">Built an on-premise internal compute platform for infrastructure
                                and platform engineering operations, utilizing technologies such as Go, Jenkins,
                                Ansible, JFrog, Docker, Istio, Rancher across the platform..</span>
                            <p><b>Graduate Student Researcher</b></p>
                        </div>
                        <p>Lexalytics Inc</p>
                    </li>
                    <li>
                        <p class="float-right">August 2021 - Dec 2022</p>
                        <div class="tooltip">
                            <span class="tooltiptext">Developed a React-Redux feature for an
                                internal website, enabling WSDL file upload, visualization, editing, and
                                backend updates. Replaced a $50k/year third-party application, driving significant
                                cost savings.</span>
                            <p><b>Software Engineer</b></p>
                        </div>
                        <p>Lowe's</p>
                    </li>
                    <li>
                        <p class="float-right">Dec 2020 - Jun 2021</p>
                        <div class="tooltip">
                            <span class="tooltiptext">Solely developed dynamic rule engine utilizing classification
                                models (Decision Trees, Random Forest, Bagging Classifier, Ripper, CN2) to automatically
                                generate accurate rules from diverse datasets.</span>
                            <p><b>Machine Learning Intern</b></p>
                        </div>
                        <p>Quantrium Technologies</p>
                    </li>

                    <li>
                        <p class="float-right">Aug 2020 - Dec 2020</p>
                        <div class="tooltip">
                            <span class="tooltiptext">Developed a trading system web application with ReactJS and
                                Django, integrating real-time stock data, technical analysis indicators (RSI, MACD),
                                paper trading , backtesting strategies, and dashboards for top gainers/losers.</span>
                            <p><b>Software Engineering Intern</b></p>
                        </div>
                        <p>QuantQAlgo</p>
                    </li>
                    <li>
                        <p class="float-right">May 2020 - Sep 2020</p>
                        <div class="tooltip">
                            <span class="tooltiptext">Engineered a facial recognition engine using deep learning models
                                like MTCNN and FaceNet for face detection.</span>
                            <p><b>Machine Learning Intern</b></p>
                        </div>
                        <p>Ciphense</p>
                    </li>


                </ul>
            </div>
        </div>
    </div>
</div>