<div class="about-card">
    <h6 class="title has-text-white  is-uppercase ">
        About
    </h6>
    <p class="project-description">
        An experienced software engineer with expertise in developing scalable and high-performance applications
        leveraging cutting-edge technologies. Proven ability to work across the full stack, from infrastructure and
        platform engineering to machine learning and data analysis. Strong background in cloud computing,
        containerization, and DevOps practices, enabling efficient deployment and management of applications.
    </p>
</div>